.navbar{

  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100vw;
  align-items: start;
  color: #fff;
  z-index: 1;
  height: 60px;
  background:transparent;
  transition: all 2.5s ease-out;
  
  
  &.navbar-light .navbar-brand {
      color: rgba(241, 239, 239, 0.9);
  }

}
.navbar.scrolled{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100vw;
  align-items: start;
  color: #fff;
  z-index: 1;
  height: 70px;
  background: linear-gradient(90deg, rgba(63,159,189,1) 0%, rgba(72,12,201,1) 100%) !important;
  transition: all 0.5s ease-in-out;

  &.navbar-light .navbar-brand {
    color: rgba(241, 239, 239, 0.9);
}
}
